[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "content/posts/2025-02-19-More-Actors-with-Tokio/marp-theme-rhea"]
	path = content/posts/2025-02-19-More-Actors-with-Tokio/marp-theme-rhea
	url = git@github.com:barafael/marp-theme-rhea.git
